<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        body {
            /* color: blanchedalmond; */
            color: #f5da42 ;
            background-color: steelblue;
            text-align: center;
            }

        a {
            margin-left: 10px;
            font-style: italic;
            color: blanchedalmond
           
        }

        img {
            width: 50%;
            aspect-ratio: 1/1
            
        }
    </style>
</head>
<body>
    <h1>At foo bar</h1>
    <h2>Name: <%= drink.name%></h2>
    <h3>Price: $<%= drink.price%></h3>
    <a href='http://localhost:3000/drinks'>Return to Menu</a>
    <br>
    <img src='<%= drink.image.replace("jpg","png")%>'>
    <!-- <img src='<%= drink.image%>'> -->
  
</body>
</html>