body {
    /* color: blanchedalmond; */
    color:  blue ;
    background-color: steelblue;
    background-image: url('./drinkback.png');
    background-size: cover;
    font-size: 20px;
    }

h1 {
    text-align: center;
}

a {
    margin-left: 10px;
    font-style: italic;
    color: red
}

.showbody {
    /* color: blanchedalmond; */
    color: blue ;
    background-color: steelblue;
    text-align: center;
    }

.showa {
    margin-left: 10px;
    font-style: italic;
    color: blanchedalmond
   
}

.showimg {
    width: 30%;
    aspect-ratio: 1/1
    
}