body {
    /* color: blanchedalmond; */
    color: #f5da42 ;
    background-color: steelblue;
    }

h1 {
    text-align: center;
}

a {
    margin-left: 10px;
    font-style: italic;
    color: blanchedalmond
}

.showbody {
    /* color: blanchedalmond; */
    color: #f5da42 ;
    background-color: steelblue;
    text-align: center;
    }

.showa {
    margin-left: 10px;
    font-style: italic;
    color: blanchedalmond
   
}

.showimg {
    width: 50%;
    aspect-ratio: 1/1
    
}